name: Build Plugin

on:
  push:
    branches: [ "main", "master", "parental-skipper-plugin" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet restore ParentalSkipper/ParentalSkipper.csproj

    - name: Build
      run: dotnet build ParentalSkipper/ParentalSkipper.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish ParentalSkipper/ParentalSkipper.csproj --configuration Release --no-build --output ./publish

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ParentalSkipper-Plugin
        path: ./publish/*.dll
